@media (min-width: 1000px) {

body {
	padding: 1%;
	width: 472px;
	margin: 0 auto;
	position: relative;
	background: repeating-radial-gradient(circle, #E0EFF1, #E0EFF1 20px, #7DB4B5 20px, #7DB4B5 40px);
	-webkit-animation: 'wee' 15s infinite linear forwards;
	background-size: 56px 56px;
	background-position-x: 0px;
	transition: all 10s linear;
}


@-webkit-keyframes 'wee' {
	0%{
		background-position-x:0%;
	}
	100% {
		background-position-x:100%;
	}
}


#face {
	background: url('https://aplustardcrocodile.github.io/assets/images/Face.png') no-repeat;
	width: 472px; height: 665px;
	cursor: pointer;
	transition: transform .5s ease;
}


#face.active {
	opacity:1;
	background: url('https://aplustardcrocodile.github.io/assets/images/Face-loop.gif') no-repeat;
	transform: rotateZ(5deg);
}
	
}
@media only screen (min-width: 375px) and (max-width: 667px) {
	body {
		padding: 1%;
		width: 250px;
		margin: 0 auto;
		position: relative;
		background-color: #E0EFF1;
	}


	#face {
		background-image: url('https://aplustardcrocodile.github.io/assets/images/Face-small.png') no-repeat;
		background-size: cover;
		width: 250px; height: 352px;
		transition: transform .5s ease;



	#face.active {
		opacity:1;
		background-image: url('https://aplustardcrocodile.github.io/assets/images/Face-loop-small.gif') no-repeat;
		transform: rotateZ(5deg);
	}

}
