@media (min-width: 900px) {

body {
	padding: 1%;
	width: 472px;
	margin: 0 auto;
	position: relative;
	background: repeating-radial-gradient(circle, #E0EFF1, #E0EFF1 20px, #7DB4B5 20px, #7DB4B5 40px);
	-webkit-animation: 'wee' 15s infinite linear forwards;
	background-size: 56px 56px;
	background-position-x: 0px;
	transition: all 10s linear;
}


@-webkit-keyframes 'wee' {
	0%{
		background-position-x:0%;
	}
	100% {
		background-position-x:100%;
	}
}


#face {
	background: url('https://aplustardcrocodile.github.io/assets/images/Face.png') no-repeat;
	width: 472px; height: 665px;
	cursor: pointer;
	transition: transform .5s ease;
}

#face:hover {
transition: transform 1s ease;
}


#face.active {
	opacity:1;
	background: url('https://aplustardcrocodile.github.io/assets/images/Face-loop.gif') no-repeat;
	transform: rotateZ(5deg);
}

}


@media (max-width: 600px) {
	body {
		padding: 1%;
		margin: 0 auto;
		/*position: relative;*/
		background: #E0EFF1;
	}


	#face {
		background-image: url('https://aplustardcrocodile.github.io/assets/images/Face-loop-small.gif') no-repeat;
		background-size: cover;
		margin: 0 auto;
		transition: transform .5s ease;

	#face.active {
		opacity:1;
		background-image: url('https://aplustardcrocodile.github.io/assets/images/Face-loop.gif') no-repeat;
		background-size: cover;
		transform: rotateZ(5deg);
	}

}
